<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>style_gestionarplanilla</title>
    <link rel="stylesheet" href="{{url_for('static', filename='Estilos/style_historial.css')}}">
    
</head>
<body>
	<header>
		<nav class="navegacion">
			<ul class="menu">
				<li><a href="{{url_for('Inicio')}}">Inicio</a></li>
				<li><a href="{{url_for('Acerca_de')}}">Nosotros</a></li>
				<li><a href="#">Recursos Humanos</a>
					<ul class="submenu">
						<li><a href="{{url_for('Login_RH')}}">Mantenimineto del planilla</a></li>
						<li><a href="{{url_for('LoginRH_Puesto')}}">Registrar Puesto</a></li>
					</ul>
				</li>

                <li><a href="{{url_for('LoginUsuario')}}">Inciar Sesion</a>
					<ul class="submenu">
						<li><a href="{{url_for('NuevoUsuario')}}">Registrarse</a></li>
					</ul>
				</li>


				<li><a href="{{url_for('Contactos')}}">Contacto</a></li>
                <div id="Buscar">
                    <input type="text" placeholder="Buscar" id="inputBuscar"></label>
                    <input type="submit" value="Buscar" id="btnBuscar">
                </div>
              
			</ul>
		</nav>
	</header>

    <aside id="Contenido">
        <div id="main-container">

            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Salario Neto</th>
                        <th>Incapacidad</th>
                        <th>CCSS</th>
                        <th>Banco Popular</th>
                        <th>Asosiaciacion</th>
                        <th>Salario Bruto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                    </tr>
                 

                </tbody>
         
            </table>
        </div>
       
    </aside>
       
   
    <footer>
        <h2>Sofware S.A</h2>
        <p>Derechos reservados a la empresa Sofware</p>
        <p>2021</p>
    </footer>
    
</body>
</html>